* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial;	background-color:#f0f0ee; font:1em "Trebuchet MS";
    background-image: url(background.jpg);
    background-size: cover; background-repeat: no-repeat; background-attachment: fixed; }
#contentWrap { display: none; }

h1 {
  color: antiquewhite;
}

.form-overlay {
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0;
    background: #000;
    -webkit-transition: background 1s, opacity 0.4s, width 0s 0.4s;
    transition: background 1s, opacity 0.4s, width 0s 0.4s;
  }
  
  .show-form-overlay .form-overlay {
    width: 100%;
    opacity: 0.7;
    z-index: 999;
    -webkit-transition: background 1s, opacity 0.4s, width 0s;
    transition: background 1s, opacity 0.4s, width 0s;
  }
  
  .show-form-overlay.form-submitted .form-overlay {
    background: #119da4;
    -webkit-transition: background 0.6s;
    transition: background 0.6s;
  }
  
  #form-container {
    cursor: pointer;
    color: #fff;
    z-index: 1000;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 5vh;
    background-color: #f00;
    opacity: 0.85;
    overflow: hidden;
    border-radius: 50%;
    width: 60px;
    max-width: 60px;
    height: 60px;
    text-align: center;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -webkit-transition: all 0.2s 0.45s, height 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.25s, max-width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.35s, width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.35s;
    transition: all 0.2s 0.45s, height 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.25s, max-width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.35s, width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.35s;
  }
  
  #form-container.expand {
    cursor: auto;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.17);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.17);
    border-radius: 0;
    width: 70%;
    height: 430px;
    max-width: 610px;
    padding: 0;
    -webkit-transition: all 0.2s, max-width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.1s, height 0.3s ease 0.25s;
    transition: all 0.2s, max-width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.1s, height 0.3s ease 0.25s;
  }
  
  #form-close {
    cursor: pointer;
  }
  
  .icon::before {
    cursor: pointer;
    font-size: 30px;
    line-height: 60px;
    display: block;
    -webkit-transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .icon:hover::before {
    -webkit-animation: wiggle 0.1s linear infinite;
            animation: wiggle 0.1s linear infinite;
  }
  
  .fa-keyboard-o::before {
    display: block;
  }
  
  .fa-close::before {
    display: none;
  }
  
  .expand.fa-keyboard-o::before {
    display: none;
  }
  
  .expand.fa-close::before {
    display: block;
    -webkit-animation: none;
            animation: none;
  }
  
  #form-content {
    font-family: sans-serif;
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
    width: 100%;
    opacity: 0;
    text-align: left;
    -webkit-transition: opacity 0.2s 0.2s, -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 0.2s 0.2s, -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s 0.2s;
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s 0.2s, -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  #form-content.expand {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    -webkit-transition: opacity 0s, -webkit-transform 0.7s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
    transition: opacity 0s, -webkit-transform 0.7s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
    transition: transform 0.7s cubic-bezier(0.4, 0, 0.2, 1) 0.3s, opacity 0s;
    transition: transform 0.7s cubic-bezier(0.4, 0, 0.2, 1) 0.3s, opacity 0s, -webkit-transform 0.7s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
  }
  
  #form-content form {
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 0 20px 20px 20px;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: left;
  }
  
  #form-head {
    font-size: 100%;
    padding: 0;
    margin: 0 20px;
    color: #fff;
    text-align: center;
    -webkit-transition: all 0.8s 0.6s;
    transition: all 0.8s 0.6s;
  }
  
  #form-head h1,
  #form-head p {
    padding: 0;
    margin: 0;
  }
  
  #form-head .pre {
    display: block;
  }
  
  #form-head .post {
    display: none;
  }
  
  .form-submitted#form-head {
    -webkit-transform: translateY(250%);
            transform: translateY(250%);
  }
  
  .form-submitted#form-head .pre {
    display: none;
  }
  
  .form-submitted#form-head .post {
    display: block;
  }
  
  .input {
    background: rgba(0, 0, 0, 0.2);
    display: block;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    padding: 0 10px;
    border-width: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  
  .input::-webkit-input-placeholder {
    /* Safari, Chrome and Opera */
    color: rgba(255, 255, 255, 0.8);
    font-size: 90%;
  }
  
  /* Firefox 18- */
  .input:-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-size: 90%;
  }
  
  /* Firefox 19+ */
  .input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-size: 90%;
  }
  
  /* IE 10+ */
  .input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-size: 90%;
  }
  
  /* Edge */
  .input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-size: 90%;
  }
  
  /* Default */
  .input:placeholder-shown {
    color: rgba(255, 255, 255, 0.8);
    font-size: 90%;
  }
  
  .input.message {
    resize: none;
    height: 150px;
    padding: 10px;
  }
  
  .input.submit {
    background-color: #fff;
    color: #f00;
    font-size: 120%;
    height: 80px;
    -webkit-box-shadow: 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.1s, -webkit-transform 0s 0.6s;
    transition: all 0.1s, -webkit-transform 0s 0.6s;
    transition: all 0.1s, transform 0s 0.6s;
    transition: all 0.1s, transform 0s 0.6s, -webkit-transform 0s 0.6s;
  }
  
  .input.submit:active {
    margin-top: 15px;
    -webkit-box-shadow: 0 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 rgba(0, 0, 0, 0.5);
  }
  
  .input.form-error {
    -webkit-animation: error 0.8s ease;
            animation: error 0.8s ease;
    background: rgba(0, 0, 0, 0.7);
  }
  
  .input {
    -webkit-transition: -webkit-transform 0s 1s;
    transition: -webkit-transform 0s 1s;
    transition: transform 0s 1s;
    transition: transform 0s 1s, -webkit-transform 0s 1s;
  }
  
  .form-submitted .input {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
    opacity: 0;
    -webkit-transition: all 0.5s, -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transition: all 0.5s, -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transition: all 0.5s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transition: all 0.5s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s, -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  }
  
  .form-submitted .input:nth-child(1) {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  
  .form-submitted .input:nth-child(2) {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  
  .form-submitted .input:nth-child(3) {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  
  .form-submitted .input:nth-child(4) {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  
  .form-submitted .input:nth-child(5) {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  
  .input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    box-shadow: 0 0 0px 1000px #fff inset;
  }
  
  @media (max-width: 600px) {
    #form-container.expand {
      height: 100%;
      width: 100%;
      max-width: 100%;
      overflow: initial;
      overflow-x: hidden;
      bottom: 0;
    }
    #form-container.h1 {
      font-size: 300%;
    }
    .icon:hover::before {
      -webkit-animation: none;
              animation: none;
    }
    .form-overlay {
      display: none;
      -webkit-transition: none;
      transition: none;
    }
  }
  
  @-webkit-keyframes error {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translateX(-6px);
              transform: translateX(-6px);
    }
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translateX(6px);
              transform: translateX(6px);
    }
  }
  
  @keyframes error {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translateX(-6px);
              transform: translateX(-6px);
    }
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translateX(6px);
              transform: translateX(6px);
    }
  }
  
  @-webkit-keyframes wiggle {
    0%,
    100% {
      -webkit-transform: rotate(-15deg);
              transform: rotate(-15deg);
    }
    50% {
      -webkit-transform: rotate(15deg);
              transform: rotate(15deg);
    }
  }
  
  @keyframes wiggle {
    0%,
    100% {
      -webkit-transform: rotate(-15deg);
              transform: rotate(-15deg);
    }
    50% {
      -webkit-transform: rotate(15deg);
              transform: rotate(15deg);
    }
  }

  p { font-family: 'Ceviche One', cursive; font-size: 25px }

  span { font-family: 'Oleo Script Swash Caps', cursive; font-size: 32px}
  
  /* Animate Background Image */
  @keyframes aitf {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 10px;
	background-color: #CCCCCC;
}

::-webkit-scrollbar
{
	width: 12px;
  background-color: #F5F5F5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #D62929;
	background-image: -webkit-linear-gradient(90deg,
											  transparent,
											  rgba(0, 0, 0, 0.4) 50%,
											  transparent,
											  transparent)
}

.avatars
{
  box-shadow: 5px 5px 50px #D50000;
}

#input-container {
  background-color:rgba(255,0,0,0.75);width:50%;height:62px;
  margin-left:50px;position:absolute;margin-top:41%;
  box-shadow:5px 5px 50px #100;border:2.5px ridge black;
}

@media only screen and (max-width: 768px)  {
  body{
    width: auto;
    float: none;
    font-size: 10px;
    margin: 5px;
  }  
  #input-container {
      position: fixed !important;
      bottom: 0 !important;
      width:95% !important;
      margin-left: 0.75% !important;
      margin-right: 0.75% !important;
      z-index: 99  !important;
  }
  #input-container button {right: 20px !important;}
  #submit_icon {
    font-size: 20px !important;
  }
  #inputbar-ava {
    margin-left: 2% !important;
    margin-top: 17px !important;
    width: 20px !important;
    height: 20px !important;
  }
  #message_input {display: none !important;}
  #message_input_alt {display: inline-block !important; margin: 10px !important;}

  .Feeds-Header, .Feeds-container {
      width: 95% !important;
      margin-left: 1% !important;
      margin-right: 1% !important;
  }
  .Feeds-container{margin-top: 60px !important;margin-bottom: 62px !important;}
  .Online-Header, .online-list {
    display: none !important;
  }

  .point-container{display: none !important;}
  .avatars{
    width:40px !important;
    height:40px !important;
    margin-bottom: 0 !important;
    margin-left: -10px !important;
  }
  .message{word-wrap: normal !important;}
  .messageText{
    height: 40px !important;
    margin-right: 0px !important;
    margin-left: 25px !important;
    margin-top: -40px !important;
    margin-bottom: 10px !important;
    width: 85% !important;
    overflow-y: hidden !important;
    overflow-x: auto !important;
    transform: translateX(-10px);
  }
  .messageText::-webkit-scrollbar {height: 5px !important;}
}